@import "tailwindcss";

@theme {
  /* Medicinska/profesionalna teget za tekst i naslove */
  --color-medical-dark: #1e293b; 
  /* Umirujuća holistička zelena za akcente i dugmiće */
  --color-holistic-green: #0f766e; 
  /* Nežna svetlo-zelena/žalfija za pozadine sekcija */
  --color-holistic-light: #f0fdf4; 
  /* Premium zlatna/pesak za detalje (estetika, orijent) */
  --color-orient-gold: #d97706;
}